extends layout


block content

  h1(id="title")= title
  if (toShow == null)
    h2 No instance to update
  else
  - let PearlId = toShow._id
  - let Pearl_Color = toShow.Pearl_Color
  - let Pearl_Weight = toShow.Pearl_Weight
  - let Pearl_Cost = toShow.Pearl_Cost

 

  div.row(class='mb-2')
    div.mr-1 ID is
    div(class='details') #{PearlId}
  - let actionid = "/resource/Pearl/" + PearlId

  form(id='PearlForm', action= actionid, method="PUT")
    div.form-group
        label.PearlAttr(for='Pearl_Color') Pearl_Color
        input#UniversityNname(type='text', name='Pearl_Color', value= Pearl_Color )
    div.form-group
        label.PearlAttr(for='Pearl_Weight') Pearl_Weight
        input#City(type='text', name='Pearl_Weight', value= Pearl_Weight )
    div.form-group
        label.PearlAttr(for='Pearl_Weight') Pearl_Cost
        input#Students(type='number', name='Pearl_Weight', value= Pearl_Cost )
    input(type="submit")

  script.
    document.forms['PearlForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
      });
    });