extends layout 
 
block content 
  h1= title 
 
  form(id='PearlForm', action="/resource/Pearl", method="POST") 
    div.form-group 
        label.PearlAttr(for='Pearl_Color') Pearl Color
        input#Pearl_Color(type='text', name='Pearl_Color') 
   
    div.form-group 
        label.PearlAttr(for='Pearl_Weight') Pearl Weight 
        input#Pearl_Color(type='text', name='Pearl_Color') 
    div.form-group 
        label.PearlAttr(for='Pearl_Cost') Pearl price 
        input#Pearl_Cost(type='number', name='Pearl_Cost') 
    input(type="submit") 
 
  script. 
    document.forms['PearlForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 